/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.form__submit {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
}
#submit {
	background:linear-gradient(to bottom, #7892c2 10%, #476e9e 80%);
	/* background-color:#7892c2; */
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
    height: 60px;
    width: 300px;
}
#submit:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

main {
    display: block;
    background-color: #476e9e;
    
}

input {
    height: 30px;
    width: 500px;
}
textarea {
    height: 150px;
    width: 500px;
}

.form__input--wrapper {
    padding: 10px;
    margin: 10px;
    background: #6189c5;
    border-radius: 25px;
}

div.discussion__answered > p {
    /* 아이콘 */
    color: #212529;
}
div.discussion__information {
    /* 작성자/작성일 */
    color: #212529;
    text-align: right;
    height: 20%;
    font-size: 10pt;
}

.discussion__container{
    /* 1명게시물 + 1명게시물 상위 컨테이너 공간 */
    display: flex;
    align-items: center;
}

ul{
    /* 1명게시물 상위 컨테이너 */
    list-style:none;
    background:#212529;
    /* padding: 5px; */
    width: 540px;
    border-radius: 35px;
    
    }

form.form{
        background:#212529;
        /* padding: 5px; */
        width: 540px;
        border-radius: 35px;
        
    }

li.discussion__container {
    /* 1명 게시물 공간 */
    margin: 10px;
    height: 150px;
    background: #6189c5;
    border-radius: 25px;
    
}

section, h1 {
    /* 전체 */
    display: flex;
    justify-content: center;
    align-items: center;
}

section.discussion__wrapper {
    /* 섹션 */
    /* width: 540px; */
    
    
}

div.discussion__avatar--wrapper {
    /* 이미지 액자 가로 20% */
    margin: 10px;
    
}

img {
    /* 이미지 */
    width: 48px;
    height: 48px;
    vertical-align: middle; /*수직높이 센터*/
    border-radius: 50%;
}

div.discussion__content {
    /* 제목, 작성자, 날짜 */
    width: 100%;
    height: 100%;
    margin: 5px;
}


h2.discussion__title{
    /* 제목 */
    width: 90%;
    height: 70%;
    margin: 5px;
    font-size: 15pt;
    display: flex;
    align-items: center;
}


div.discussion__answered {
    /* 체크박스 */
    /* vertical-align: middle; 수직높이 센터*/
    font-size: 20pt; 
    margin: 5px;
}
a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #212529; /* 링크의 색상 제거 */
}





      