  body {
    background-color: #e9dfdf;
  }

  h2 {
    font-size: 32px;
    color: #333;
  }

  .app {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  #contentMsg {
    color: red;
  }

  input[type="text"], textarea, #contentList div {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(156, 209, 228);
    border: 3px solid #4c4848;
    margin-bottom: 5px;
  }
  
  #add, #delete, #delAllButton {
    border: 2px solid rgb(98, 191, 224);
    background-color: rgb(179, 174, 174);
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 5px;
}
  





