body {
    text-align: center;
}

input {
    margin-right: 1px; 
    width: 40px; 
    height: 40px;
    text-align: center;
    font-size: 25pt;
}

input.pinkBoard {
    background-color: rgb(255, 228, 228);
}


